# A .gitignore file is a plain text configuration file that tells Git which files or folders to ignore so they aren't tracked or committed to your repository
# A .gitignore only works on untracked files. If you’ve already committed a file and then add it to .gitignore, Git will still track it.
# Add patterns: Each line is a new rule. For example:
#Ignores a specific file
.env    
#Ignores an entire directory.

.venv/  

#Ignores all files ending in .log using a wildcard
*.log
#ay petengan